# Dimensionality Reduction

In [38]:
#imports 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

#needed for reading in cloud data
import glob
from natsort import natsorted

#needed for PCA
from sklearn.decomposition import PCA

In [5]:
#read in demographics df 
mixed_demographics = pd.read_csv('../data:/training_data/mixed_demographics.csv')
mixed_demographics.head()

,Unnamed: 0,MI,age,BMI,height,weight,diastolic_BP,systolic_BP,sex
0,0,healthy,62.593012,25.312186,161.647749,64.949107,76.057670,137.765801,False
1,1,healthy,58.037959,32.100795,172.543391,94.715477,84.272113,143.459426,False
2,2,pMI,65.840496,26.099055,166.521430,71.650562,75.340419,137.100866,False
3,3,pMI,68.518300,27.672836,166.176884,75.779414,75.697258,140.518093,True
4,4,healthy,55.591381,27.266429,161.314821,70.185424,79.973837,133.740780,False

In [35]:
#read in cloud data

#intialise an empty matrix
data_matrix = np.empty((10*900,3*18000))
i = 0

#we want to go through each ".npy" file in order
for file in natsorted(glob.glob("../data:/training_data/mixed_samples/*.npy")):

    #make each file in sequence the next row of a matrix
    current_geometry = np.load(file)

    for j in range(0,10):

        #fill the current row of the matrix
        data_matrix[i] = current_geometry[j,:,0:3].flatten()

        #move to next row of the matrix
        i = i + 1

In [ ]:
#displaying this data matrix
data_matrix

array([[-20.157444  ,  17.62280464,   8.63055611, ..., -15.38268089,
        -35.53833008,  59.0874176 ],
       [-19.19090843,  17.49430275,   9.2532053 , ..., -15.19591618,
        -32.96632385,  55.38721085],
       [-18.31469727,  14.26771927,   9.15201092, ..., -13.81563377,
        -32.41942215,  53.25785828],
       ...,
       [-13.05764771,   5.40545797,   8.71468925, ..., -10.83146667,
        -34.73101807,  44.49254608],
       [ -0.74476401,  21.23820966,  12.45429418, ...,   7.46662622,
        -31.25759896,  54.58056126],
       [-13.7966795 ,   6.33198214,   9.23767281, ..., -11.13682747,
        -36.07759094,  47.19462585]], shape=(9000, 54000))